  <footer>
  	<div class="row">
        <div class="small-12 columns">
       <hr></div>
  		<div class="small-12 columns">
  			香港中文大學學生會代表會屬下團體委員會</div>
        <div class="small-12 columns">
  			 <a href="#">登記指引</a> ｜ <a href="#">免責聲明</a> ｜ <a href="#">聯絡委員</a>
  		</div>
	</div>
  </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
    <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>
</body>
</html>