<% include header %>

<br>
<div class="row">
	
	<div class="medium-12 columns">
		<h1><%= whichFrom %></h1>
		<form action="/submit_form3" method="post" enctype="multipart/form-data">
			<input type="hidden" value="<%= repotType %>"></input>
			<labal>上載報告
				<input type="file" name="all_report_url" >
			</labal>
			<labal>通過方法
				
			</labal>

			<dl class="tabs" data-tab >
			  <dd><a href="#vote" >全民投票</a></dd>
			  <dd><a href="#meeting" style="border-left:1px solid #FFF;border-right:1px solid #FFF;">會員大員</a></dd>
			  <dd><a href="#other" >其他方法</a></dd>
			</dl>

			<div class="tabs-content">
			<div class="content active">
				<p>請選擇通過報告之方法</p>
			</div>
			<div class="content" id="vote">
			   
			   <labal>議案
				<input name="motion" type="text">
			</labal>

			投票日期
			<input type="date" name="voteDate">
			投票日程 <span style="color:#999">需列明日期、時間、地點</span>
			<textarea name="voteInfo"></textarea>
			投票方式
			<input name="voteMethod" type="text">
			選票樣式
			<input type="file">
			選舉委員會成員名單 <span style="color:#999">需列明成員之中英文姓名、院系級、學生編號</span>
				<textarea name="commiteeOfElection"></textarea>
			<br>
		
			監票人
			<div class="row">
				<div class="columns medium-6">
					<label>監票人名稱<input type="text" name="Name"></label>
				</div>
				<div class="columns medium-6">
					<label>身份／院系級<input type="text" name="Position"></label>
				</div>
				
			</div>
參與人數
			<div class="row">

				<div class="columns medium-4">
					<label>基本會員人數<input type="number" name="totalNoOfPeople"></label>
				</div>
				<div class="columns medium-4">
					<label>合法最少人數<input type="number" name="minVote"></label>
				</div>
				<div class="columns medium-4">
					<label>總投票人數<input type="number" name="noOfVote"></label>
				</div>
			</div>
票數
			<div class="row">
				<div class="columns medium-3">
					<label>贊成<input type="number" name="agree"></label>
				</div>
				<div class="columns medium-3">
					<label>反對<input type="number" name="object"></label>
				</div>
				<div class="columns medium-3">
					<label>棄權 <input type="number" name="wive"></label>
				</div>
				<div class="columns medium-3">
					<label>廢票 <input type="number" name="void"></label>
				</div>
			</div>
			議案結果 
			<select name="result">
				<option value="pass">通過</option>
				<option value="fail">否決</option>
			</select>

			  </div>
			   <div class="content" id="meeting">
			    			   <labal>議案
				<input name="motion" type="text">
			</labal>

			召開日期、時間
			<input type="date" name="meetingTime">
			地點
			<input name="meetingVen" type="text">

			會議主席
			<div class="row">
				<div class="columns medium-6">
					<label>姓名<input type="text" name="Name"></label>
				</div>
				<div class="columns medium-6">
					<label>院系級<input type="text" name="Position"></label>
				</div>
				
			</div>
參與人數
			<div class="row">

				<div class="columns medium-4">
					<label>基本會員人數<input type="number" name="totalNoOfPeople"></label>
				</div>
				<div class="columns medium-4">
					<label>合法最少人數<input type="number" name="minVote"></label>
				</div>
				<div class="columns medium-4">
					<label>在席人數<input type="number" name="noOfVote"></label>
				</div>
			</div>
票數
			<div class="row">
				<div class="columns medium-3">
					<label>贊成<input type="number" name="agree"></label>
				</div>
				<div class="columns medium-3">
					<label>反對<input type="number" name="object"></label>
				</div>
				<div class="columns medium-3">
					<label>棄權 <input type="number" name="wive"></label>
				</div>
				<div class="columns medium-3">
					<label>廢票 <input type="number" name="void"></label>
				</div>
			</div>
			議案結果 
			<select name="result">
				<option value="pass">通過</option>
				<option value="fail">否決</option>
			</select>
			  </div>
			  <div class="content" id="other">
			    <p>請在附加資料註明。</p>
			  </div>

			 </div>

		

			<input type="submit" value="遞交" class="button">
		</form>
	</div>
</div>

<% include footer %>