<% include header %>

<br>

<div class="row">

	<div class="medium-12 columns">
		<h1>表格 1 - 屬下團體資料</h1>
		<form action="/submit_form1" method="post" enctype="multipart/form-data">
			<labal>屬會名稱
				<input type="text" name="socname" value="<%= SocName %>">
			</labal>
			<labal>團體性質
				<select name="type">
					<option value="dept" <% if( SocType =='dept') {%> selected <% } %>>系會</option>
					<option value="facu" <% if( SocType =='facu') {%> selected <% } %>>院會</option>
					<option value="club" <% if( SocType =='club') {%> selected <% } %>>屬會</option>
					<option value="approved" <% if( SocType =='approved') {%> selected <% } %>>認可會社</option>
				</select>
			</labal>
			<labal>上載會章 (*pdf)
				<a href="#">檢視現有版本</a>
				<input type="file" name="constitution_url">

			</labal>
			<labal>上載會員名單/系方發出之人數證明信 (*pdf)
				<a href="#">檢視現有版本</a>
				<input type="file" name="member_list_url" >

			</labal>
			<input type="submit" value="更新" class="button">
		</form>
	</div>
</div>

<% include footer %>