<% include header %>

<br>
<div class="row">

	<div class="medium-12 columns">
		<h1>表格 4 - 附加資料</h1>
		<form action="/submit_form4" method="post">
			<labal>附加資料
				<textarea name="addidtional_info" id="addidtional_info"></textarea>
			</labal>
			
			<input type="submit" value="更新" class="button">
		</form>
	</div>
</div>

<% include footer %>
