<!doctype html>
<html class="no-js" lang="zh-tw" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>屬下團體週年登記網上系統</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- jQuery Modal -->
  <link href="css/jQueryModal/jquery.modal.css" type="text/css" rel="stylesheet" />
  <link href="css/jQueryModal/jquery.modal.theme-xenon.css" type="text/css" rel="stylesheet" />
  <link href="css/jQueryModal/jquery.modal.theme-atlant.css" type="text/css" rel="stylesheet" />
  <!-- jQuery Modal -->
  <script src="js/vendor/modernizr.js"></script>

</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <% if(loginStatus) { %>
        	<% if(IsAdmin) { %>
      			<% include admin/left_nav %>
      		<% } else {%>
      			<% include left_nav %>
      		<% } %>
	  	<% }else{ %>
	  		<ul class="off-canvas-list" > 
        		<li><a href="/" class="button alert">未登入</a></li>
        	</ul>
      	<% } %>
    </aside>

	<header>
		<nav class="top-bar" data-topbar role="navigation">

		  
		<section class="left-small tab-bar" style="border:none">
		  	<a class="left-off-canvas-toggle menu-icon" style="width:34em;">
		 <span>中大學生會屬下團體週年登記網上系統</span>
		  	</a>
		  </section>

 			<ul class="title-area" >
		    <li class="name" >
		      <h1><a href="/index"></a></h1>
		    </li>
		     
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>
		
		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		      <li><a href="/notice">公告</a></li>
		      <li class="active">
		      	
		      	<% if(loginStatus) { %>
		      		<a href="/logout">登出</a>
		      	<% }else{ %>
		      		<a href="/login">登入</a>
		      	<% } %>
 
		      </li>
		    </ul>

		  </section>
		</nav>
	</header>