<ul class="off-canvas-list"> 
  <li><a href="/index">週年登記狀態: 未完成</a></li>
  <li><a href="/form1">表格 1 - 屬下團體資料</a></li>
  <li><a href="/form2">表格 2 - 幹事會資料</a></li>
  <li><a href="/form3?form3=A">表格 3A - 去屆工作報告</a></li>
  <li><a href="/form3?form3=B">表格 3B - 去屆財政報告</a></li>
  <li><a href="/form3?form3=C">表格 3C - 現屆工作計劃</a></li>
  <li><a href="/form3?form3=D">表格 3D - 現屆財政預算</a></li>
  <li><a href="/form4">表格 4 - 附加資料</a></li><br/><br/>
  <li><a href="#" class="button secondary">English </a></li>
  <li><a href="/logout" class="button">登出 </a></li>
</ul> 

