<% include header %>

<br>
<div class="row">
	<div class="medium-12 columns">
		<h1>公告</h1>
		<div class="medium-9 columns" >
		  <div class="panel">
		    <h3><%= notice.title %> <small> <%= notice.post_timestamp %> </small></h3>
        <div><%= notice.notice_content %></div>
      </div>
  	</div>
 		<div class="medium-3 columns">
 			<ul class="side-nav" id="title_side_nav">
  		 <% noticelist.forEach(function(notice, index) { %>
       <% if(index < 5){ %>
        <li><a href="/notice?page=<%= notice.notice_id %>">  <%= notice.title %>   </a></li>
        <% } } ) %>
			</ul>
 		</div>
  </div>

  <div class="medium-12 cloumns">
      <div class="pagination-centered" style="">
        <ul class="pagination" id="pageNav">
        </ul>
      </div>
    </div>
    <div class="pagination-centered" style="">



    </div>
  </div>


<% include footer %>

  <script>
    var PageNav = document.getElementById('pageNav');
    var middle = 0;
    if(<%= pageNav %> == 0){

    }else{
        for(var i=0;i <= <%= pageNav %> +1;i++){
          var Li = document.createElement("li");
          var A = document.createElement("a");
          if(i==0){
            if(<%= currentIndex %> == 1){
              Li.className = "arrow unavailable";
              Li.innerHTML = "&laquo;";
            }else if(i!= <%= currentIndex %>){
              Li.className = "arrow";
              A.href = "/notice?page="+(<%= currentIndex %>-1);
              A.innerHTML = "&laquo;";
            }
            Li.appendChild(A);
          }else if(i==<%= pageNav %> +1){
            if(<%= currentIndex %> == <%= pageNav %>){
              Li.className = "arrow unavailable";
              Li.innerHTML = "&raquo;";
            }else if(i!= <%= currentIndex %>){
              Li.className = "arrow";
              A.innerHTML = "&raquo;";
              A.href = "/notice?page="+(<%= currentIndex %>+1);
            }
            Li.appendChild(A);
          }else{
            if(<%= pageNav %> <=10){
              if(i== <%= currentIndex %>){
                Li.className = "current";
              }
              A.innerHTML = i;
              A.href = "/notice?page="+i;
              Li.appendChild(A);
            }else{
              middle = Math.ceil(<%= pageNav %>/2);
              if(<%= currentIndex %> <=3){
                if(i>=(middle-5) && i<=(<%= pageNav %>-1)){
                  Li.className = "unavailable";
                  Li.innerHTML = "&hellip;";
                  i = (<%= pageNav %>-1);
                }else{
                  if(i== <%= currentIndex %>){
                    Li.className = "current";
                  }
                  A.innerHTML = i;
                  A.href = "/notice?page="+i;
                  Li.appendChild(A);
                }
              }else{
                if(i< (<%= currentIndex %>-2)){
                  A.innerHTML = "&hellip;"+1;
                  A.href="/notice?page=1";
                  Li.appendChild(A);
                  i = (<%= currentIndex %>-3);
                }else if(i> (<%= currentIndex %>+2)){
                  A.innerHTML = "&hellip;"+<%= pageNav %>;
                  A.href="/notice?page="+<%= pageNav %>;
                  Li.appendChild(A);
                  i = (<%= pageNav %>);
                }else{
                  if(i== <%= currentIndex %>){
                    Li.className = "current";
                  }
                  A.innerHTML = i;
                  A.href = "/notice?page="+i;
                  Li.appendChild(A);
                }
              }  
            }
          }
          PageNav.appendChild(Li);
        }
      
    }

  </script>
  


<% include footer %> 