<% include header %>

<br>
<div class="row">

	<div class="medium-12 columns">
		<h1>張貼公告</h1>
		<form action="submit_notice" method="post">
			<labal>公告標題
				<input type="text" name="notice_header" id="notice_header"></input>
				<textarea name="addidtional_info" id="addidtional_info"></textarea>
			</labal>
			
			
			<input type="submit" value="張貼" class="button">
		</form>
	</div>
</div>

<% include footer %>