<% include header %>

<br>
<div class="row">

	<div class="medium-12 columns">
		<h1>計算機科學系會 <span class="info label">處理中</span></h1>
		<div class="row">
		<div class="medium-6 columns" >
		
			<dl class="sub-nav">
			  <dd class="active"><a href="#" target="left">會章</a></dd>
			  <dd><a href="regSocForm1" target="left">表1</a></dd>
			  <dd><a href="regSocForm2" target="left">表2</a></dd>
			  <dd><a href="regSocForm3" target="left">表3</a></dd>
			  <dd><a href="regSocForm4" target="left">表4</a></dd>
			</dl> 
				<iframe src="/form1" class="medium-12 " height="500"></iframe>

		</div>

		<div class="medium-6 columns">
			<dl class="sub-nav">
			  <dd class="active"><a href="#" target="right">會章</a></dd>
			  <dd><a href="#" target="right">表1</a></dd>
			  <dd><a href="#" target="right">表2</a></dd>
			  <dd><a href="#" target="right">表3</a></dd>
			  <dd><a href="#" target="right">表4</a></dd>
			</dl>
			<iframe src="/form4" class="medium-12 " height="500"></iframe>
		</div>
	</div>
	</div>
</div>
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>計算機科學系會</h2>
  <p class="lead" style="background-color: #a0d3e8;">處理中</p>
  <p>主要聯絡人: 3943 4268 何釣</p>
  <p>團體性質: 系會 </p>
  <p><a href="#">會章</a> | 會員人數: 301 | <a href="#">幹事會名單</a></p>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% include footer %>