<% include header %>

	<div class="row">
		<fieldset class="small-6 columns small-centered">
			<legend><%= submit_status %></legend>
			<div class="small-6 columns small-centered row">
				<label><%= post_message %></label>
			</div>
			<div class="row"><br/>
				<div class="large-6 columns"><a href="<%= return_path %>" class="button secondary tiny right">返回</a><div>
			</div>
		</fieldset>
 	</div>

<% include footer %>