

footer{
	text-align: center;
	font-size: 12px;
	color:#666;
}

.text-center{
	text-align: center;
}

#addidtional_info{
	height:500px;
}

.off-canvas-wrap, .inner-wrap{
	height: 100%;
}

.off-canvas-wrap{
	height: 100%;
	overflow-y:auto;
}
